{% extends "index.html" %}

{% block content %}
  <h2>Política da Loja</h2>
  <p>Na EK Imports, nos preocupamos com a sua experiência de compra e queremos garantir que você tenha todas as informações necessárias. Confira abaixo nossa política:</p>

  <h3>Trocas e Devoluções</h3>
  <p>Se o produto estiver com defeito, você tem até 7 dias corridos após o recebimento para solicitar a troca ou devolução. O produto deve estar em sua embalagem original e com todos os acessórios.</p>

  <h3>Privacidade</h3>
  <p>Seus dados são tratados com segurança. Não compartilhamos suas informações pessoais com terceiros. Apenas utilizamos para processar sua compra e enviar suas atualizações.</p>

  <h3>Entregas</h3>
  <p>Realizamos entregas para todo o Brasil. O prazo de entrega varia conforme sua localidade e será informado no momento da finalização da compra.</p>

  <h3>Formas de Pagamento</h3>
  <p>Oferecemos diversas opções de pagamento, incluindo cartões de crédito, débito e Pix.</p>
{% endblock %}
