{% extends "index.html" %}

{% block content %}
  <h2>Sobre a EK Imports</h2>
  <p>Somos uma loja apaixonada por estilo e conforto. Fundada com a missão de oferecer tênis de qualidade a preços acessíveis, a <strong>EK imports</strong> une moda e praticidade para quem quer andar com atitude.</p>
  
  <p>Trabalhamos com modelos exclusivos e sempre buscamos novidades para nossos clientes. Nosso objetivo é proporcionar uma experiência de compra fácil, segura e com um toque de personalidade.</p>
{% endblock %}
